################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Downsizer/.vs/Downsizer/FileContentIndex/f990a17a-5848-4b48-b06a-d98a88343e78.vsidx
